html body,
.WE0UJf,
.Ww4FFb,
.sfbg,
.yg51vc,
.jZWadf,
.s8GCU,
.FtRlBe,
.Lj9fsd {
  background-color: #111d29 !important;
}

html body a,
cite,
cite a:link,
cite a:visited,
body,
.q8U8x,
.gke0pe {
  color: #b1d237 !important;
}

#SIvCob {
  color: #fff !important;
}

#SIvCob a {
  color: #b1d237 !important;
}
.I6TXqe {
  background-color: #b1d237 !important;
}
